@charset "UTF-8";

body {
    /*Box model stuff*/
    margin: 0px;
    background-color: gray;
    /*Typography stuff*/
    font-family: Arial, Helvetica, sans-serif;
}

header {
    /*Box model stuff*/
    margin: 10px;
    padding: 10px;
    background-color: white;
}

h1 {
    /*Miscellaneous*/
    box-shadow: 2px 1px 14px 6px #0000007c;
}

nav {
    /*Box model stuff*/
    padding: 3px;
    background-color: gray;
    /*Miscellaneous*/
    box-shadow: 2px 2px 4px 1px #0000007e;
}

nav>a {
    /*Box model stuff*/
    margin-right: 30px;
    /*Typography stuff*/
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav>a:hover {
    /*Typography stuff*/
    text-decoration: underline;
}

main {
    /*Box model stuff*/
    margin: 10px;
    padding: 10px;
    border-radius: 10px 0px;
    background-color: white;
    /*Miscellaneous*/
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
}

article {
    /*Box model stuff*/
    padding: 5px;
    background-color: lightgray;
}

article>aside {
    /*Box model stuff*/
    background-color: darkred;
}

footer {
    /*Box model stuff*/
    margin: 0px;
    padding: 1px;
    background-color: black;
    /*Typography stuff*/
    text-align: center;
    color: white;
}

footer>p {
    /*Box model stuff*/
    margin: 0px;
}

.texto {
    /*Typography stuff*/
    text-align: justify;
    text-indent: 30px;
}

div#bola {
    /*Box model stuff*/
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    background-color: white;
}