@charset "UTF-8";

* {
    /*Box model stuff*/
    margin: 0;
    padding: 0;
    /*Miscellaneous*/
    box-sizing: border-box;
}

div.flex-container {
    /*Display stuff*/
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    /*Box model stuff*/
    height: 640px;
    background: yellow;
}

div.flex-item {
    /*Box model stuff*/
    width: 33.33%;
    background: red;
    /*Typography stuff*/
    color: white;
}

/* 
div.flex-item:nth-child(3) {
    font-size: 40px;
} 
*/