@charset "UTF-8";

/* Grid */

* {
    /*Box model stuff*/
    margin: 0;
    padding: 0;
    /*Typography stuff*/
    font: 40px sans-serif;
    /*Miscellaneous*/
    box-sizing: border-box;
}

div.grid {
    /*Display stuff*/
    display: grid;
    grid-template-columns: [um] 1fr [dois] 1fr [tres] 1fr [quatro];
    grid-template-rows: [um] 1fr [dois] 1fr [tres] 1fr [quatro];
    /*Box model stuff*/
    max-width: 1200px;
    margin: auto;
    /*Miscellaneous*/
    gap: 30px;
}

div.grid div {
    /*Box model stuff*/
    min-height: 100px;
    background-color: tomato;
}

div.grid div:nth-child(5) {
    background-color: darkred;

    /* grid-column-start: um;
    grid-column-end: quatro; */

    /* grid-column: span 2 / span 2;
    grid-row: um / quatro; */

    /* grid-area: um / um / quatro / quatro; */
}